<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 공통적으로 들어가는 부분 가져오는 코드 -->
	<head th:insert="~{include/head.html}"></head>

	<!-- 타이틀 수정 및 자기 html의 head에 추가한 것 타임리프 형식으로 추가하기 -->
	<!-- 예시: <link th:href="@{/css/header.css}" rel="stylesheet" /> -->
	<title>Landing Page - Start Bootstrap Theme</title>

	<!--  kakao Map API & CSS -->
	<script
		th:src="'https://dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${apiKey}+'&libraries=services,clusterer,drawing'"></script>
	
	<link th:href="@{/css/rst.css}" rel="stylesheet" />
	<style>
			.bodycontent {
			height:auto !important; 
		}
	</style>
</head>

<body>
	<!-- Navigation-->
	<nav th:insert="~{include/nav.html}"></nav>

	<div class="contentbox">
		<div id="backgroundbanner"></div>
		<div id="bodycontent" class="bodycontent">

			<!-- kakao Map API UI -->
			<br>지도 검색 서비스
			<div class="map_wrap">
				<div id="map" style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>

				<div id="menu_wrap" class="bg_white">
					<div class="option">
						<div>
							<form onsubmit="searchPlaces(); return false;">
								키워드 : <input type="text" th:value="${keyword}" id="keyword" size="15">
								<br>
								<button type="submit">전국검색</button>
								<button type="button" onclick="searchPlaceMine()">내위치로검색</button>
								
								<div><input type="checkbox" id="isCenter" /> <label>지도 중심위치로 검색 새로고침</label></div>
							</form>
							
						</div>
						
					</div>
					<hr>
	
				</div>
				
			
			</div>

			<ul id="placesListSample">
				<li class="item">
					<span class="markerbg marker_1"></span>
					<div class="info">
						<h5>
							식당1 제목
						</h5>
						<span>식당주소</span>
						<span class="jibun gray">지번</span>
						<span class="tel">식당전화번호</span>
					</div>
				</span>
				</li>

			</ul>
			<ul id="placesList"></ul>
			<div id="pagination"></div>
			<!-- 이곳에서 코드 작업 -->
			<!-- kakao Map Script -->
			
			<script type="text/javascript" th:src="@{/js/rst.js}"></script>


		</div>
	</div>

	<!-- </body> 위에 삽입되는 공통 부분 추가하는 코드 -->
	<div th:insert="~{include/footer.html}"></div>

</body>

</html>