<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 공통적으로 들어가는 부분 가져오는 코드 -->

	<head th:insert="~{include/head.html}"></head>

	<!-- 타이틀 수정 및 자기 html의 head에 추가한 것 타임리프 형식으로 추가하기 -->
	<!-- 예시: <link th:href="@{/css/header.css}" rel="stylesheet" /> -->
	<title>먹스플로어</title>

	<!--  kakao Map API & CSS -->
	<script
		th:src="'https://dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${apiKey}+'&libraries=services,clusterer,drawing'"></script>

	<link th:href="@{/css/rst.css}" rel="stylesheet" />
</head>

<body>
	<!-- Navigation-->
	<nav th:insert="~{include/nav.html}"></nav>

	<div class="contentbox">
		<div id="backgroundbanner"></div>
		<div id="bodycontent" class="bodycontent">
			<div class="_01_all">
				<!-- kakao Map API UI -->
				<br><div style="
				font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
				font-size: 24px;
				float:left;
				">음식점 검색</div>






				<div id="menu_wrap" class="bg_white">
					
					
					
					<div class="option">
						<div>
							<form onsubmit="searchPlaces(); return false;">
								<label class="custom-radio"><input type="radio" class="custom-radio" name="searchType" value="myLocation" checked> 내위치로검색</label>
								<label class="custom-radio"><input type="radio" class="custom-radio" name="searchType" value="nationwide"> 전국검색</label>
								<div><input type="checkbox" id="isCenter" /> <span>지도 중심위치로 검색 새로고침</span></div>
							</form>
							
						</div>
					</div>
					
					<!--
					<div class="option">
						<div>
							<form onsubmit="searchPlaces(); return false;">
								키워드 : <input type="text" th:value="${keyword}" id="keyword" size="15">
								<button type="button" onclick="searchPlaces()">전국검색</button>
								<button type="button" onclick="searchPlaceMine()">내위치로검색</button>
								<div><input type="checkbox" id="isCenter" /> <label>지도 중심위치로 검색 새로고침</label>
								</div>
							</form>
						</div>
					</div>
					-->




					<hr>
				</div>
				<!-- 작성 -->





				
				
				
				








				<div class="_01_01_main">
					<div class="map_wrap">
						<div id="map" style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>
					</div>
					<div class="_01_01_01_sub">
						<ul id="placesList"></ul>
						<div id="pagination"></div>

					</div>
					
					<!-- 이곳에서 코드 작업 -->
					<!-- kakao Map Script -->

					<script type="text/javascript" th:src="@{/js/rst.js}"></script>
				</div>
			</div>
		</div>
	</div>

	<!-- </body> 위에 삽입되는 공통 부분 추가하는 코드 -->
	<div th:insert="~{include/footer.html}"></div>

</body>

</html>