.sidebar a[href="/foodexp/mypage/rev"] {
	color: #EF6900;
}

.star-rating {
	display: flex;
	justify-content: left;
	flex-direction: row-reverse;
	font-size: 2em;
	cursor: pointer;
}

.star {
	color: lightgray;
}

.star.active {
	color: #FFAF01;
}

.submit-button {
	margin-top: 50px;
}

.button-container {
    display: flex;
    align-items: center;
}

#delBtn{
  height: 35px;
  width: 85px;
  border: none;
  color: white;
  background-color: #979797;
  border-radius: 5px;
}

#editBtn{
  height: 35px;
  width: 85px;
  border: none;
  color: white;
  background-color: #EF6900;
  border-radius: 5px;
}
