<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <!-- 공통적으로 들어가는 부분 가져오는 코드 -->
    <head th:insert="~{include/head.html}"></head>

    <!-- 타이틀 수정 및 자기 html의 head에 추가한 것 추가하기 -->
    <title>회원가입</title>

    <link th:href="@{/css/joinform.css}" rel="stylesheet" />

    </head>
    <body style="overflow: auto;">
        <!-- Navigation-->
        <nav th:insert="~{include/nav.html}"></nav>

        
        <div class="contentbox">
            <div id="backgroundbanner"></div>
            <div class="bodycontent" style="padding: 30px 50px; width: 820px;">
              <div>
              <h2 class="titletext" >회원 가입</h2>
              <form id="memberJoinForm" th:action="@{/member/join}" method="POST">
                <table>
                  <tr>
                    <th style="padding-top: 15px;">아이디*</th>
                    <td style="display: flex;padding-top: 10px;flex-wrap: wrap;">
                      <input type="text" id="user_email" name="user_email" placeholder="이메일 형식으로 입력해주세요." title="아이디입력">
                      <button id="idsamebtn">중복확인</button><br>
                      <span id="idsamemesg">사용할 수 있는 아이디입니다.</span>
                    </td>
                  </tr>
                  <tr>
                    <th>비밀번호*</th>
                    <td>
                      <input type="text" id="pw" name="pw" placeholder="영문 대소문자/숫자/특수문자, 8~16자">
                    </td>                  
                  </tr>
                  <tr>
                    <th>비밀번호 확인*</th>
                    <td style="display: flex;">
                      <input type="text" id="pwcheck" name="pwcheck" placeholder="비밀번호를 다시 입력해주세요." title="아이디입력">
                      <span id="pwsamechk">비밀번호가 일치하지 않습니다.</span>
                    </td>                  
                  </tr>
                  <tr>
                    <th>닉네임*</th>
                    <td style="display: flex; flex-wrap: wrap;">
                      <input type="text" id="nickname" name="nickname" placeholder="닉네임" title="아이디입력">
                      <button id="namesamebtn">중복확인</button><br>
                      <span id="namesamemesg">사용할 수 있는 아이디입니다.</span>
                    </td>                  
                  </tr>
                  <tr>
                    <th>이름*</th>
                    <td>
                      <input type="text" id="user_name" name="user_name" placeholder="이름" title="아이디입력">
                    </td>                  
                  </tr>
                  <tr>
                    <th>주소*</th>
                    <td class="addr">
                      <input type="text" id="user_post" name="user_post" placeholder="우편번호">
                      <input type="button" id="btn" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                      <input type="text" id="user_addr1" name="user_addr1"  placeholder="도로명주소" >
                      <input type="text" id="user_addr2" name="user_addr2" placeholder="지번주소" style="margin-bottom: 0px;">
                      <span id="guide" style="color:#999"></span>
                    </td>                  
                  </tr>
                  <tr style="border-bottom: none;">
                    <th style="padding-bottom: 15px;">휴대폰 번호*</th>
                    <td style="padding-bottom: 10px;">
                      <input type="text" id="user_phone" name="user_phone" placeholder="휴대폰 번호">
                    </td>                  
                  </tr>
                </table>
                <input type="submit" class="btn btn-primary" name="" value="회원가입"
                style=" margin-top: 12px; background-color: #ff8100; border: 1px solid #ff8100; width: 145px;">

              </form>

            </div>
        </div>

      <!-- body 위에 삽입되는 공통 부분 추가하는 코드 -->
      <div th:insert="~{include/footer.html}"></div>
    </body>
</html>
