<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <!-- 공통적으로 들어가는 부분 가져오는 코드 -->
    <head th:insert="~{include/head.html}"></head>

    <!-- 타이틀 수정 및 자기 html의 head에 추가한 것 추가하기 -->
    <title>회원가입</title>

    <link th:href="@{/css/joinform.css}" rel="stylesheet" />

    </head>
    <body style="overflow: auto;">
        <!-- Navigation-->
        <nav th:insert="~{include/nav.html}"></nav>

        
        <div class="contentbox">
            <div id="backgroundbanner"></div>
            <div class="bodycontent" style="padding: 30px 50px; width: 820px;">
              <h2 class="titletext" >회원 가입</h2>
              <form id="loginForm" th:action="@{/member/join}" method="POST">
                <input type="text">
                <input type="text">
              </form>

            </div>
        </div>

      <!-- body 위에 삽입되는 공통 부분 추가하는 코드 -->
      <div th:insert="~{include/footer.html}"></div>
    </body>
</html>
