<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 공통적으로 들어가는 부분 가져오는 코드 -->
<head th:insert="~{include/head.html}"></head>

<!-- 타이틀 수정 및 자기 html의 head에 추가한 것 추가하기 -->
<title>먹스플로어</title>

<link th:href="@{/css/sidebar.css}" rel="stylesheet" />
<link th:href="@{/css/myLikes.css}" rel="stylesheet" />

</head>
<body>
	<!-- Navigation-->
	<nav th:insert="~{include/nav.html}"></nav>


	<div class="contentbox">
		<div id="backgroundbanner"></div>
		<div class="bodycontent" style="display: flex;">

			<!-- 사이드바 -->
			<nav th:insert="~{include/sidebar.html}"></nav>
			<div class="content">

				<h2 class="myLikes-title">나의 즐겨찾기</h2>

				<!-- 나의 즐겨찾기 -->
				<div class="rst-box" th:each="likes: ${LikesDTO}">
					<div class="like-rst">
						<img class="food-img" id="food-img">
						<div class="text-info">
							<div class="rst-info">
								<p class="rstname" th:text="${likes.rst_name}" />
								<p class="rstcate" th:text="${likes.rst_cate}" />
							</div>
							<div class="rst-info">
								<p class="rstaddr" th:text="${likes.rst_addr1}" />
							</div>
							<div class="rst-info">
								<p class="revscore" th:if="${likes.rev_avg}">별점 <span th:text="${likes.rev_avg+ '/5'}"></span></p>
								<p class="like-count">즐겨찾기 <span th:text="${likes.likes_total}"></span></p>
							</div>
						</div>
						<form th:action="@{/mypage/delLikes}" class="star" method="post">
							<input type="hidden" name="rst_id" th:value="${likes.rst_id}" />
							<button type="submit" class="star" id="delstar">★</button>
						</form>
					</div>
				</div>

			</div>
			<!-- end content -->

		</div>
		<!-- end bodycontent -->

		<script>
		
		/* $(document).ready(function() {
		    $(".star").click(function() {
		        // 버튼 텍스트를 ★에서 ☆로 변경
		        var $button = $(this);
		        if ($button.text() === '★') {
		            $button.text('☆');
		            
		            // 삭제 요청을 서버로 전송
		            var $form = $button.closest('.star-form');
		            $.post($form.attr('action'), $form.serialize(), function(response) {
		            });
		        }
		    });
		}); */
			
		
		/* $(document).ready(function() {
		    $(".star").each(function() {
		        var $button = $(this);
		        var rstId = $button.siblings('input[name="rst_id"]').val();
		        var isLiked = localStorage.getItem('liked_' + rstId) === 'true';

		        // 초기 버튼 텍스트 설정
		        if (isLiked) {
		            $button.text('★');
		        } else {
		            $button.text('☆');
		        }

		        $button.click(function() {
		            var isLiked = $button.text() === '★';

		            // 즐겨찾기 상태를 토글하고 로컬 스토리지에 저장
		            isLiked = !isLiked;
		            localStorage.setItem('liked_' + rstId, isLiked);

		            // 서버로 상태 업데이트 요청 보내기
		            var $form = $button.closest('form');
		            $.post($form.attr('action'), $form.serialize(), function(response) {
		                // 서버 응답을 무시할 수 있음
		            });

		            // 버튼 텍스트 변경
		            if (isLiked) {
		                $button.text('★'); // 즐겨찾기 추가
		            } else {
		                $button.text('☆'); // 즐겨찾기 삭제
		            }
		        });
		    });
		}); */
		
		</script>


	</div>
	<!-- end contentbox -->

	<!-- body 위에 삽입되는 공통 부분 추가하는 코드 -->
	<div th:insert="~{include/footer.html}"></div>
</body>
</html>
