<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 공통적으로 들어가는 부분 가져오는 코드 -->
<head th:insert="~{include/head.html}"></head>

<!-- 타이틀 수정 및 자기 html의 head에 추가한 것 추가하기 -->
<title>먹스플로어</title>

<link th:href="@{/css/sidebar.css}" rel="stylesheet" />
<link th:href="@{/css/myLikes.css}" rel="stylesheet" />

</head>
<body>
	<!-- Navigation-->
	<nav th:insert="~{include/nav.html}"></nav>


	<div class="contentbox">
		<div id="backgroundbanner"></div>
		<div class="bodycontent" style="display: flex;;">

			<!-- 사이드바 -->
			<nav th:insert="~{include/sidebar.html}"></nav>
			<div class="content">

				<h2 class="myLikes-title">나의 즐겨찾기</h2>

				<!-- 나의 즐겨찾기 -->
				<div class="rst-box">
					<div class="">
						<div class="like-rst">
							<img class="food-img" id="food-img">
							<div class="text-info">
								<p class="rstname">음식점이름</p>
								<div class="rst-info">
									<p class="rstaddr">**시 **구 ***로 **번길 **(**동)</p>
								</div>
								<div class="rst-info">
									<p class="revscore">리뷰 4.5/5</p>
									<p class="like-count">즐겨찾기 1061</p>
								</div>
							</div>
							<p class="star">★</p>
						</div>
					</div>
				</div>
				<div class="rst-box">
					<div class="">
						<div class="like-rst">
							<img class="food-img" id="food-img">
							<div class="text-info">
								<p class="rstname">음식점이름</p>
								<div class="rst-info">
									<p class="rstaddr">**시 **구 ***로 **번길 **(**동)</p>
								</div>
								<div class="rst-info">
									<p class="revscore">리뷰 4.5/5</p>
									<p class="like-count">즐겨찾기 1061</p>
								</div>
							</div>
							<p class="star">★</p>
						</div>
					</div>
				</div>



			</div>
			<!-- end content -->




		</div>
		<!-- end bodycontent -->
	</div>
	<!-- end contentbox -->

	<!-- body 위에 삽입되는 공통 부분 추가하는 코드 -->
	<div th:insert="~{include/footer.html}"></div>
</body>
</html>
