<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MypageMapper">

   <!-- 회원 정보 가져오기 -->
   <select id="getInfo" parameterType="String" resultType="MemberDTO">
    select user_email,nickname,pw,user_name,
 		   user_post,user_addr1,user_addr2,user_phone
    from member
    where user_email = #{user_email}
   </select>
   
   <!-- 회원정보 수정 -->
   <update id="changeInfo" parameterType="MemberDTO">
   	update member
   	set user_email = #{user_email}, nickname  = #{nickname},
   		pw  = #{pw},user_name  = #{user_name},
 	   	user_post  = #{user_post}, user_addr1 = #{user_addr1}, 
 	   	user_addr2  = #{user_addr2}, user_phone  = #{user_phone}
    where user_email = #{user_email}
   </update>
   
   <!-- 회원탈퇴 -->
   <delete id="delMember" parameterType="String" >
   	delete from member
   	where user_email = #{user_email}
   </delete>

	<!-- 즐겨찾기 정보 가져오기 -->
	<select id="getLikes" parameterType="String" resultType="LikesDTO">
    select *
    from restaurant
    inner join likes
    	  on restaurant.rst_id = likes.rst_id
    where user_email = #{user_email}
   </select>
   
   <!-- 즐겨찾기 삭제 -->
   <delete id="delLikes" parameterType="String" >
   	delete from likes
   	where rst_id = #{rst_id}
   		  and user_id = #{user_id}
   </delete>
   
</mapper>