<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RevMapper">
	
	<!-- 내 리뷰 -->
	<select id="getReviewById" resultType="RevDTO" parameterType="string">
        SELECT r.*, rt.rst_name 
	    FROM review r
	    INNER JOIN restaurant rt ON r.rst_id = rt.rst_id
	    WHERE r.user_email = #{user_email, jdbcType=VARCHAR}
    </select>
    
    <!-- 리뷰 자세히 보기 -->
    <select id="selectByRev_No" resultType="RevDTO" parameterType="int">
    	SELECT r.*, rt.rst_name 
	    FROM review r
	    INNER JOIN restaurant rt ON r.rst_id = rt.rst_id
	    WHERE r.REV_NO = #{rev_no}
	</select>
    
	<!-- 리뷰 추가 -->
    <insert id="addReview" parameterType="RevDTO">
        INSERT INTO review (REV_NO, USER_EMAIL, RST_ID, REV_STAR, REV_COMMENT, REV_DATE, REV_TITLE) 
        VALUES (#{rev_no}, #{user_email,jdbcType=VARCHAR}, #{rst_id,jdbcType=VARCHAR}, #{rev_star}, #{rev_comment,jdbcType=VARCHAR}, #{rev_date}, #{rev_title,jdbcType=VARCHAR})
    </insert>
    
	<!-- 리뷰 수정 -->
    <update id="updateReview" parameterType="RevDTO">
        UPDATE review SET REV_STAR = #{rev_star}, REV_COMMENT = #{rev_comment, jdbcType=VARCHAR}, REV_TITLE = #{rev_title, jdbcType=VARCHAR},
        rev_date = sysdate
        WHERE REV_NO = #{rev_no}
        and  USER_EMAIL = #{user_email,jdbcType=VARCHAR}
    </update>

	<!-- 리뷰 삭제 -->
    <delete id="deleteReview" parameterType="int">
        DELETE FROM review WHERE REV_NO = #{rev_no}
    </delete>
    
    <!-- 식당별 리뷰 -->
    <select id="revByRst" resultType="RstDTO" parameterType="String">
	    select restaurant.*, review.*
		from restaurant
		inner join review on restaurant.rst_id = review.rst_id
		where review.user_email = #{user_email}
    </select>
    
    <!-- 식당의 모든리뷰 & 날짜형식변경해서 가지고오기 -->
    <select id="getreviewByRst" resultType="RevDTO">
		SELECT review.*
		FROM review
		WHERE review.rst_id = #{rst_id} 
    </select>

</mapper>