<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UploadMapper">

	<insert id="insert" parameterType="FileDTO">
		insert into upload (uploadFileName,uploadFilePath, rev_no)
		values (#{uploadFileName}, #{uploadFilePath}, #{rev_no})
	</insert>
	
	<delete id="delete">
		delete from upload where uploadFileName = #{uploadFileName}
	</delete>
	
	<select id="getFiles" resultType="FileDTO">
		select * from upload where rev_no = #{rev_no} 
	</select>
	
	<select id="currentRno" resultType="int">
		select rev_seq.currval from dual
	</select>
	
	<select id="thumbnail">
		<![CDATA[
			SELECT u.*
				FROM (
				    SELECT r.rev_no
				    FROM review r
				    WHERE r.rst_id = #{rst_id}
				    ORDER BY r.rev_no DESC
				) r
				JOIN upload u ON r.rev_no = u.rev_no
				WHERE ROWNUM <= 7
		]]>	
	</select>
	
	<!-- 식당테이블과 연결해 이미지 가져오기 -->
	<select id="getFilesRst" resultType="FileDTO">
	 WITH RankedReviews AS (
    SELECT
        r.rev_no,
        r.rst_id,
        u.uploadFilePath,
        u.uploadfilename,
        ROW_NUMBER() OVER (PARTITION BY r.rst_id ORDER BY r.rev_date ASC) AS row_num
    FROM review r
    INNER JOIN upload u ON r.rev_no = u.rev_no
    WHERE EXISTS (
        SELECT 1 FROM upload u2
        WHERE u2.rev_no = r.rev_no
    )
)
SELECT
    rr.rst_id,
    rr.uploadFilePath,
    rr.uploadfilename
FROM RankedReviews rr
WHERE rr.row_num = 1
	</select>
   
</mapper>