body{
    font-family: 'Noto Sans KR', sans-serif;
}
.searchbar {
    display: flex;
    align-items: center;
    flex: 1; 
}
.searchform{
    width: 50%;
}
#searchinput {
    flex: 1; /* input 요소가 나머지 공간을 채울 수 있도록 flex 속성을 설정합니다. */
    padding: 13px; /* 원하는 패딩을 추가합니다. */
    background-color: #eaeaea;
    border-radius: 20px;
    border: none;
    height: 35px;
    margin-right: 10px;
    font-size: 14px;
    /* text-align: center; */
}
#searchbtn{
    border: none;
    background-color: #FFAF01;
    border-radius: 35px;
    width: 35px;
    height: 35px;
}
#searchbtn img {
    max-width: 80%; /* 이미지의 최대 너비를 부모 요소인 버튼의 너비에 맞게 설정합니다. */
    max-height: 80%; /* 이미지의 최대 높이를 부모 요소인 버튼의 높이에 맞게 설정합니다. */
    margin-bottom: 3px;
}
.msection a{
    font-size: 14px;
    text-decoration-line: none;
    color: black;
}
#loginlink{
    margin-right: 5px;
}
.contentbox {
    position: relative;

    width: 100%;
    height: 100%;
  }
#backgroundbanner{
    position: absolute;

    background-color: #FFAF01;
    height: 300px;
    width: 100%;
    z-index: -1;
}
.bodycontent{
    position: relative; /* bodycontent의 위치를 상대적으로 설정합니다. */
    width: 80%;
    margin: auto;
    background-color: white;
    z-index: 1;
    top: 40px;
    min-height: 500px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
