	@font-face {
		font-family: 'ONE-Mobile-Title';
		src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
	    font-family: 'ONE-Mobile-Regular';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}

	/* 주황 부분 */
	.background {
		position: relative;
		height: 450px;
		width: 100%;
	}

	.background-inner-banner {
		background-color: #FFE8AA;
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 70px;

	}

	.button {
		background-color: #EF6900;
		border-radius: 10px;
		display: inline-block;
		color: #fff;
		font-family: 'ONE-Mobile-Title';
		font-size: 35px;
		font-weight: 550;
		padding: 14px 29px;
		text-decoration: none;
	}

	.search {
		background-color: #FFAF01;
		color: #000;
		cursor: pointer;
		font-size: 20px;
	}

	.image-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
	}

	.icon {
		width: 100px;
		height: 100px;
		margin-top: 40px;
		margin-bottom: 30px;
	}
	

	/* 모달 스타일 */
	.modal {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.modal-content {
		background-color: #fff;
		padding: 20px;
		width: 600px;
		height: auto;
	}

	.close {
		position: absolute;
		top: 10px;
		right: 15px;
		cursor: pointer;
	}
	
	.region_header {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 32px;
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	
	.region_confirm {
	    display: flex;
	    gap: 15px;
	    padding-top: 21px;
	}
	
	.region_button {
		display: flex;
		justify-content: center;
		align-items: center;
	    width: 100%;
	    height: 42px;
	    border-radius: 10px;
	    padding: 10px 20px;
	    cursor: pointer;
	    font-weight: 500;
	}
	
	.submit {
	    border: 1px solid #FFAF01;
		background-color: #FFF7CC;
	}
	
	.cancle {
	    border: 1px solid #ADB5BD;
		background-color: #F8F9FA;
	}
	
	
	/* top10 부분  */
/* 	.top-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-top: 50px;
		margin-bottom: 10px;
		float: left;
		background-color: #EFEEEC;
	}
	
	.best {
		flex-direction: column;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}	

	.nationwide {
		background-color: #fff;
		border: 2px solid #EF6900;
		border-radius: 20px;
		font-family: 'ONE-Mobile-Title';
		color: black;
		font-size: 25px;
		font-weight: 550;
		width: 600px;
		padding: 10px 15px;
		display: inline;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		margin: 0;
	}
	
	.nationwide span {
		white-space: nowrap;
	}

	.rst-box {
		border: 2px solid #EF6900;
		border-radius: 20px;
		padding: 15px;
		margin: 10px;
		background-color: #fff;
		box-sizing: border-box;
		width: 600px;
		height: 100%;
		display: center;
		flex-direction: column;
		align-items: center;
	}
	
	.info {
		 text-align: left !important;
	}
	
	.rst-name, .cate {
    display: inline;
	}

 	.cate {
		color: #999999;
		margin-left: 10px;
	} */
	
	
	
.top-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
    float: left;
    background-color: #EFEEEC;
    justify-content: center;
}

.best{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 5px;
    margin-top: 50px;
}

.set {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nationwide {
    background-color: #F4F6E3;
    border: 4px solid #4D997D;
    border-radius: 20px;
    font-family: 'ONE-Mobile-Title';
    color: black;
    font-size: 30px;
    font-weight: 550;
    padding: 10px 15px;
    display: inline;
    text-decoration: none;
    margin: 0;
    width: 500px;
}

.nationwide span {
    white-space: nowrap;
}

.rst-box {
    border: 4px solid #4D997D;
    border-radius: 20px;
    padding: 15px;
	margin: 10px;
    background-color: #fff;
    box-sizing: border-box;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

/* 음식 사진 추가 */
.food-img {
    width: 300px;
    height:300px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.info {
	flex: 1;
    text-align: left !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
}

.styled-hr {
	width: 90%;
	margin: 5px;
	border: solid 1px black;
}

/* 식당명 꾸미기 식.꾸 */
.link-style {
    color: black;
    text-decoration: none;
    font-family: 'ONE-Mobile-Title';
    color: black;
    font-size: 40px;
    font-weight: 550;
}

.rst-name, .cate {
	display: block; /* block 요소로 설정하여 세로 정렬됩니다. */
	text-align: left; /* 왼쪽 정렬 */
}

.cate {
    color: #999999;
    font-family: 'ONE-Mobile-Regular';
    font-size: 15px;
}

.rst-addr1, .average {
	font-family: 'ONE-Mobile-Regular';
	font-size: 15px;
}