@charset "UTF-8";

.sidebar a[href="/foodexp/mypage/rev"] {
	color: #EF6900;
}

.sidebar {
    float: left;
    white-space : nowrap;
    width: 200px;
    height: 100%;
    background-color: white;
    padding: 20px;
}


.search-bar {
	 display: flex;
     align-items: center;
     margin-bottom: 30px;
     margin-top: 50px;
     margin-left: 145px;
}

.search-bar input {
    padding: 10px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #FFAF01;
    color: white;
    border: none;
}

.data-table {
    width: 70%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.data-table th {
    background-color: #fff1d7;
}

.delete-button {
        display: inline-block;
        margin-left: 10px;
    }

.table-wrapper {
    max-height: 500px;
    overflow: auto;
    margin-bottom: 32px;
}

.bodycontent {
    /* padding-bottom: 200px; */
}

.revPage{
    display: flex;
    justify-content: center;
    text-align: center;
}

.revPage > div a {
    text-decoration: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    box-sizing: border-box;
	font-size: 20px;
}

.clickpage{
	display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    box-sizing: border-box;
	font-size: 20px;
    color: #EF6900;
    border: 2px solid #EF6900;
    border-radius: 10px;
}