.maincontent{
	padding: 35px;
}

.photos{
    width: 200px;
    height: 200px;
    background-color: gray;	
}

h2{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 33px;
}
.rst_cate{
    text-align: left;
    font-size: 16px;
    color: #737373;
	margin-bottom: 10px;
}
.box{
	display: flex;
	justify-content: space-between;
}

.evaluation{
	display: flex;
}
#rev_count{
	font-size: 19px;
	margin-right: 10px;
	margin-top: 6px;
}

#score {
	display: inline-block;
}
#rev_star{
	display: inline-block;
}

/* 식당 별점 표시 */
.star_box .rating {
	position: relative;
	color: #ddd;
	font-size: 25px;
	text-align: center;
  }
  
.star_box .rating input {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
  }
  
  .star_box  .rating_star {
	width: 0;
	color: #ffc107;
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
	pointer-events: none;
  }
/* 식당 별점 표시 */
button{
    padding: 4px 13px;
    border-radius: 20px;
    height: 37.5px;
    background-color: white;
}
.location{
    margin-bottom: 10px;
    text-align: left;
    margin-left: 12px;
    display: flex;
	font-size: 20px;
}
#phone_info{
    text-align: left;
    margin-left: 14px;
    height: 31px;
    font-size: 18px;
}
.bar{	
    display: flex;
    justify-content: space-between;
    margin-left: 14px;
	margin-bottom: 20px;
}
.review {
    border: 1px solid #d7d7d7;
    box-shadow: 2px 2px 8px gray;
    padding: 13px 13px;
    text-align: left;
}
.user_info{
    display: flex;
}
.nickname{
    font-size: 21px;
}
/* 리뷰 별점 */
.review .rating {
	position: relative;
	color: #ddd;
	font-size: 20px;
	text-align: center;
  }
  
  .review .rating input {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
  }
  
  .review  .rating_star {
	width: 0;
	color: #ffc107;
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
	pointer-events: none;
  }
/* 리뷰 별점 */
.rev_date{
    margin-left:6px;
}
.stars{
    display: inline-block;
}
.rev_content{
	padding-left: 10px;
	padding-top: 10px;
	font-size: 19px;
}
.rtitle{
	text-decoration: underline;
    text-underline-offset: 5px;
    margin-bottom: 6px;
}